<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir }}" data-theme="light">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ title }} | {{ meta.title }}
            {% else %}
                {{ meta.title }}
            {% endif %}
        </title>
        <link rel="stylesheet" href="/assets/css/tailwind.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ meta.url }}{{ page.url }}"/>
        {% for link in page.url | locale_links %}
            <link rel="alternate" hreflang="{{ link.lang }}" href="{{ meta.url }}{{ link.url }}"/>
        {% endfor %}
        <link rel="canonical" href="{{ meta.url }}{{ page.url }}"/>
        <meta name="description" content="{{ description }}"/>
        <script type="module" src="/scripts/main.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    </head>
    <body>
        {% include "components/header.njk" %}
        <main class="mx-auto main-container">
            {{ content | safe }}
        </main>
        {% include "components/footer.njk" %}
    </body>
</html>