<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | default: "Loïc Boiteux"}}</title>
    <link rel="stylesheet" href="/assets/css/tailwind.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header class="bg-base-200 rounded-b-2xl p-8 mb-16">
        <nav class="flex justify-between items-center nav-bar">
            <div class="flex items-center">
                <a href="/" class="text-2xl">Loïc Boiteux</a>
            </div>
            <div class="flex items-center space-x-4">
                <ul class="flex space-x-4">
                    <li><a href="{{ "/blog" | locale_url }}" class="text-base">Blog</a></li>
                    <li><a href="/about" class="text-base">About</a></li>
                    <li><a href="/contact" class="text-base">Contact</a></li>
                </ul>
                
            </div>

        </nav>
    </header>
    <main class="container mx-auto px-4">
        {{content}}
    </main>
    <footer>
        <div class="container mx-auto py-4">
            <p class="text-center text-sm text-shadow-neutral-50">
                Built with 11ty. Source code available <a href="https://github.com/BoiteuxL/d34dblog" target="_blank" rel="noopener noreferrer">here</a>
            </p>
        </div>
    </footer>
</body>

</html>