{% block content %}
    <article>
        <h2 class="text-4xl font-bold mb-4">{{title}}</h2>

        <p class="text-lg">
            {{description}}
        </p>
        {% if page.lang == "en" %}
        <a target="_blank" href="{{repository}}">
            View on GitHub
        </a>
        {% else %}
        <a target="_blank" href="{{repository}}">
            Voir sur GitHub
        </a>
        {% endif %}
        <section id="whatisit">
            {% if page.lang == "en" %}
            <h3 class="text-2xl font-bold">Summary</h3>
            {% else %}
            <h3 class="text-2xl font-bold">Résumé</h3>
            {% endif %}
            {% block whatisit %}
            {% endblock %}
        </section>
        <section id="features">
            {% if page.lang == "en" %}
                <h3 class="text-2xl font-bold">Features</h3>
            {% else %}
                <h3 class="text-2xl font-bold">Fonctionnalités</h3>
            {% endif %}
            {% block features %}
            {% endblock %}
        </section>
        <section id="technologies">
            {% if page.lang == "en" %}
            <h3 class="text-2xl font-bold">Technologies used</h3>
            {% else %}
            <h3 class="text-2xl font-bold">Technologies utilisées</h3>
            {% endif %}
            {% block technologies %}
            {% endblock %}
        </section>
        {% block more %}
        {% endblock %}
    </article>
{% endblock %}