@use "palette" as *;

header {
    margin-bottom: 2rem;
    &.site-header {
        padding: 3rem 5vh;
        font-size: larger;

        background-color: $header-background;
        margin: 0;
        a {
            text-decoration: none;
        }
        li {
            list-style: none;
        }
        border-radius: 0 0 1rem 1rem;

        svg {
            height: 32px;
            width: 32px;
            color: $link-color;
            &:hover {
                color: $link-hover-color;
            }
        }

        .site-nav {
            max-width: 80rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;


        }

        .menu {
            display: flex;
            list-style: none;
            padding: 0;

            a {
                display: block;
                padding: 1rem;
            }
        }

        .site-menu {
            justify-content: center;
            flex-wrap: wrap;
        }


        .logo {
            font-size: 2rem;
            font-weight: bold;
            text-decoration: none;
            padding: 0;
            margin: 0;
            
        }
    }
}

@media screen and (max-width: 576px) {
    header.site-header {
        .site-nav {
            flex-direction: column;
            align-items: center;
        }
    }
}