@use "palette" as *;

header {
    background-color: $header-background;
    margin: 0;
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}

header.site-header {
    padding: 3rem 5vh;
    font-size: larger;

    svg {
        height: 32px;
        width: 32px;
    }

    .site-nav {
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;


    }

    .menu {
        display: flex;
        list-style: none;
        padding: 0;

        a {
            display: block;
            padding: 1rem;
        }
    }

    .site-menu {
        justify-content: center;
        flex-wrap: wrap;
    }


    .logo {
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        padding: 0;
        margin: 0;
        
    }
}

@media screen and (max-width: 992px) {
    header.site-header {
        .site-nav {
            flex-wrap: wrap;
            max-width: 96rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;


        }

        .site-menu {
            justify-content: center;
            flex-wrap: wrap;
        }

        .links-menu {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    header.site-header {
        .site-nav {
            justify-content: center;
        }
    }
}