@use "palette" as *;
@import "https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";



a {
    font-weight: bolder;
    color: $link-color;
    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}

header, main, footer {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

main {
    font-family: "Atkinson Hyperlegible", sans-serif;
    
    * {
        line-height: 1.8;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: .75rem;
        margin-bottom: .25rem;
        font-weight: bolder;
    }
    h1 {
        font-size: 2.375rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1.375rem;
    }
    h5 {
        font-size: 1.25rem;
    }
    h6 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1.125rem;
    }

    ul {
        margin-left: 2rem;
        list-style-type: disc;
        li {
            font-size: 1.125rem;
        }
    }
}