a {
    color: var(--color-primary);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

header {
    a {
        text-decoration: none;
    }
}

.main-container {
    max-width: 76rem;
    line-height: 1.5;
    padding: 0 4rem;
    margin: auto;
}

.header-container {
    line-height: 1.5;
    margin: auto;
}


main {
    line-height: 1.6;
}