a {
    color: var(--color-primary);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

header {
    a {
        text-decoration: none;
    }
}



// Override

.container {
    max-width: 72rem;
    line-height: 1.5;
    padding: 0 3rem;
    margin: auto;
}



@media screen and (max-width: 64rem) {
    .container {
        max-width: 48rem;
    }

}