<footer>
    <div class="container mx-auto py-4">
        <p class="text-center text-sm text-shadow-neutral-50">
            {{ languages[page.lang].availableText }}
            {% for link in page.url | locale_links %}
                <a href="{{ link.url }}" lang="{{ link.lang }}" hreflang="{{ link.lang }}">{{ link.label }}</a>
            {% endfor %}
        </p>
        {% if page.lang == "en" %}
            <p class="text-center text-sm text-shadow-neutral-50">
                Built with 11ty on {{ meta[page.lang].buildDate }}
            </p>
        {% else %}
            <p class="text-center text-sm text-shadow-neutral-50">
                Site généré avec 11ty le
                {{ meta[page.lang].buildDate }}
            </p>
        {% endif %}
    </div>
</footer>