<header class="site-header">
    <nav class="site-nav">
            <a class="logo" href="{{ navigation[page.lang][0].url }}">Loïc Boiteux</a>
            <ul class="menu site-menu">
                {% for item in navigation[page.lang] %}
                    {% if not loop.first %}
                        <li class="nav-item md:my-0 rounded-lg md:bg-base-200 md:py-0 md:px-0">
                            <a class="font-bold text-xl" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
    </nav>
</header>