---
title: 'Dotfiles'
description: "Configuration files for GNU/Linux (Gnome)"
permalink: /en/projects/dotfiles.html
repository: "https://github.com/BoiteuxL/dotfiles"
---
{% extends "project.njk" %}

{% block table %}
<ul class="pl-5 space-y-1 list-inside">
    <li>
        <a href="#whatisit">What is it?</a>
    </li>
    <li>
        <a href="#features">Features</a>
        <ul class="pl-5 space-y-1 list-inside">
            <li><a href="#de">Desktop environment</a></li>
            <li><a href="#theme-and-icons">Theme and icons</a></li>
            <li><a href="#extensions">Extensions</a></li>
        </ul>
    </li>
    <li>
        <a href="#technologies">Technologies used</a>
    </li>
</ul>
{% endblock %}

{% block whatisit %}
<p>
    My personal configuration files for GNU/Linux, specifically tailored for the
    Gnome desktop environment.
    These files include settings and customizations that enhance my daily
    workflow and user experience while providing a nice UI.
</p>
{% endblock %}

{% block features %}
<section id="de-and-distro">
    <h4>Distro and desktop environment</h4>
    <p>
        When it came to choosing a Linux distribution, I always struggled to
        find the one that suited my needs. I have tried many, such as Debian,
        Ubuntu, Fedora, Linux Mint, and even Arch Linux. I eventually settled on
        EndeavourOS, which is based on Arch Linux and provides a user-friendly
        experience while maintaining the flexibility and power of Arch. I have
        been using EndeavourOS for a while now, and I am very satisfied with its
        performance and stability. It has become my go-to distribution for both
        my laptop and desktop computers.
    </p>
    <p>
        I use Gnome as my desktop environment. While I have tried other
        environments like KDE, Cinnamon and even Window Managers such as i3 and
        Hyprland,
        I find Gnome to be the most suitable for my needs. It is fluid, smooth,
        good-looking out of the box and the multiple workspaces
        feature is a must-have for me.
    </p>

</section>
<section id="theme-and-icons">
    <h4>Theme and icons</h4>
    <p>
        I use the Catppuccin Mocha theme with a purple accent, which provides a
        soothing pastel color
        palette that is easy on the eyes and beautiful to look at.
        The theme is complemented by the Tela icon set (Dracula), which offers a
        clean and modern look that complements the overall aesthetic.
    </p>

    <p>
        Furthermore, I am a huge Star Wars nerd, so, for my laptop (named
        <i>Acclamator</i>), I added a nice wallpaper
        featuring the <i>Acclamator-class assault ship.</i>
    </p>
    <figure class="max-w-full mx-auto my-5">
        <img class="h-auto max-w-full rounded-lg"
            src="/assets/img/projects/dotfiles/laptop.png"
            alt="Screenshot from my laptop">
        <figcaption
            class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Screenshot
            from the laptop</figcaption>
    </figure>

    <p>
        And for my desktop (named <i>Venator</i>), I use have wallpaper
        featuring the
        <i>Venator-class Star Destroyer</i>.
    </p>
    <figure class="max-w-full mx-auto my-5">
        <img class="h-auto max-w-full rounded-lg"
            src="/assets/img/projects/dotfiles/desktop.png"
            alt="Screenshot from my desktop">
        <figcaption
            class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Screenshot
            from the desktop</figcaption>
    </figure>
    <p>
        I also have a couple of configuration files for various apps, such as Git, Starship or Fastfetch.
    </p>
</section>
<section id="extensions">
    <h4>Extensions</h4>
    <p>
        Gnome allow users to customize and enhance the desktop environment by
        installing addons</><.
        They provide flexibility to tailor the interface to individual
        preferences, such as adding applets, changing window management, or
        integrating productivity tools.
        I have curated a selection of addons that improve my workflow and user
        experience. Some extensions I use includes:
    </p>
    <ul class="max-w-md pl-5 space-y-1 list-disc list-inside">
        <li><a target="_blank"
                href="https://extensions.gnome.org/extension/307/dash-to-dock/">Dash
                to Dock</a></li>
        <li><a target="_blank"
                href="https://extensions.gnome.org/extension/3843/just-perfection/">Just
                Perfection</a></li>
        <li><a target="_blank"
                href="https://extensions.gnome.org/extension/4481/forge/">Forge</a></li>
        <li><a target="_blank"
                href="https://extensions.gnome.org/extension/19/user-themes/">User
                Themes</a></li>
        <li><a target="_blank"
                href="https://extensions.gnome.org/extension/2986/runcat/">Runcat</a></li>
    </ul>
</section>

{% endblock %}

{% block technologies %}
<p>
    This project is just a bunch of Bash scripts which installs packages,
    downloads themes and icons, imports settings, and installs extensions.
    It is designed to be run on a fresh installation of EndeavourOS with Gnome.
</p>
{% endblock %}

{% block more %}
{% endblock %}